<header>
  <nav class="navbar navbar-expand navbar-custom bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="[ '/' ]">Home</a>
      <a class="nav-item nav-link" [routerLink]="[ '/form-create' ]">Create</a>
      <a *ngIf="authService.isAuthenticated()" class="nav-item nav-link" [routerLink]="[ '/my-forms' ]">MySPools</a>
    </div>

    <div *ngIf="!authService.isAuthenticated()" class="navbar-nav ml-auto">
      <a class="nav-item nav-link" [routerLink]="[ '/login' ]">Login</a>
      <a class="nav-item nav-link" [routerLink]="[ '/register' ]">Register</a>
    </div>

    <div *ngIf="authService.isAuthenticated()"  class="navbar-nav ml-auto">
      <a class="nav-item nav-link btn btn-danger" (click)="authService.logout()" [routerLink]="[ '/' ]">Logout</a>
    </div>

  </nav>
</header>
