.form-container{
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    padding: 16px;
}

.container-custom{
    width: 100%;
    min-width: 300px;
    min-height: 450px;
    max-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}